global:
  storageClass: local-path

clickhouse:
  installCustomStorageClass: true

signoz:
  service:
    type: LoadBalancer
    labels:
      shouldExpose: "true"

otelCollector:
  service:
    type: LoadBalancer
    labels:
      shouldExpose: "true"
